body {
    background-color: #93b7ba;
}


.container {
    padding-top: 5%;
}
.block {

    margin-bottom: 9%;
}

.menu {
    background-color: black;
}

ul {
    list-style: none;

}
ul li {
    display: inline-block;
    padding: 15px 20px;
}

ul li a {
    color: #9ca8bc;
}
a:hover {
    color: red;
}

.twoColumns{
    column-count: 2;
}

.classicFooter {
    background-color: white;
}

.classicFooter p {
    text-align: center;
}
